    footer.main-color-2-bg, .un-separator .main-color-2-bg, .main-color-2-bg.back-to-top{
        background-color:#2b2b2b;
    }
    body, #main-nav .navbar-nav>li>a .menu-description{
        font-family: "Raleway",sans-serif;
    }
	body {
        font-size: 14px;
    }
@media (min-width: 992px){
    .ia-post-grid-1 .grid-item {
        width: 100%;
    }
    .ia-post-grid-1.has-featured-item .grid-item:first-child{
    	width: 200%;
    }
}
@media (min-width: 992px){
    .ia-post-grid-2 .grid-item {
        width: 50%;
    }
    .ia-post-grid-2.has-featured-item .grid-item:first-child{
    	width: 100%;
    }
}
@media (min-width: 992px){
    .ia-post-grid-3 .grid-item {
        width: 33.3333333333%;
    }
    .ia-post-grid-3.has-featured-item .grid-item:first-child{
    	width: 66.6666666667%;
    }
}
@media (min-width: 992px){
    .ia-post-grid-4 .grid-item {
        width: 25%;
    }
    .ia-post-grid-4.has-featured-item .grid-item:first-child{
    	width: 50%;
    }
}
@media (min-width: 992px){
    .ia-post-grid-5 .grid-item {
        width: 20%;
    }
    .ia-post-grid-5.has-featured-item .grid-item:first-child{
    	width: 40%;
    }
}
@media (min-width: 992px){
    .ia-post-grid-6 .grid-item {
        width: 16.6666666667%;
    }
    .ia-post-grid-6.has-featured-item .grid-item:first-child{
    	width: 33.3333333333%;
    }
}
@media (min-width: 992px){
    .ia-post-grid-7 .grid-item {
        width: 14.2857142857%;
    }
    .ia-post-grid-7.has-featured-item .grid-item:first-child{
    	width: 28.5714285714%;
    }
}
@media (min-width: 992px){
    .ia-post-grid-8 .grid-item {
        width: 12.5%;
    }
    .ia-post-grid-8.has-featured-item .grid-item:first-child{
    	width: 25%;
    }
}
@media (min-width: 992px){
    .ia-post-grid-9 .grid-item {
        width: 11.1111111111%;
    }
    .ia-post-grid-9.has-featured-item .grid-item:first-child{
    	width: 22.2222222222%;
    }
}
@media (min-width: 992px){
    .ia-post-grid-10 .grid-item {
        width: 10%;
    }
    .ia-post-grid-10.has-featured-item .grid-item:first-child{
    	width: 20%;
    }
}
.normal-sidebar .widget ul li:before {
margin: 4px 6px 2px 2px;
}
div.bbp-search-form input{
padding: 12px 20px;
}

@media (max-width: 360px){
	#bbpress-forums li.bbp-body ul.forum,
	#bbpress-forums li.bbp-body ul.topic{ padding-left:30px; padding-right:30px}
	#bbpress-forums li.bbp-body ul.topic li:before, #bbpress-forums li.bbp-body ul.forum li:before{ display:none}
}

.underline-style ul li ul li:before, .normal-sidebar .underline-style ul li ul li:before{
border:none;
transform:none;
height:auto;
width:auto;
}
.quantity.buttons_added input[type=number] {
	-moz-appearance: textfield;
	appearance: textfield;
}
/*google ads code*/
iframe[name='google_conversion_frame']{height:0px; width:0; opacity:0; overflow:hidden; float:left; margin-top:-13px;}